.rock{
    width: 20px;
    height: 20px;
    position:absolute;
    top: 0;
    left:0;
    svg{
        z-index: 1;
        position: relative;
        opacity:0;
        animation: rockFall 0.2s linear forwards;
        @keyframes rockFall {
            0%{
                width: 150px;
                height: 150px;
                top: -500px;
                opacity: 0.7
            }
            100%{
                width: 20px;
                height: 20px;
                transform: scale (1.0);
                top: 0;
                opacity: 1;
            }
        }
    }
}


